<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Резюме менеджер</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../../../resources/static/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/static/css/core.css}"/>
</head>
<style>
    body::before {
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(/img/background.jpg) center / cover no-repeat;
    filter: blur(5px); /* Размытие */
   }
</style>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div align="center">
    <h1>Редактировать резюме</h1>
    <br/>
    <form action="#" th:action="@{/cvs/edit/{id}(id=${cv.id})}" method="post">
        <div>
            <form>
                <div class="form-row mx-auto">
                    <div class="col-md-3 mb-3 mx-auto">
                        <label>Фамилия</label>
                        <input type="text" th:field="*{cv.lastName}" class="form-control" placeholder="Фамилия">
                    </div>
                    <div class="col-md-3 mb-3 mx-auto">
                        <label>Имя</label>
                        <input type="text" th:field="*{cv.firstName}" class="form-control" placeholder="Имя">
                    </div>
                    <div class="col-md-3 mb-3 mx-auto">
                        <label>Отчество</label>
                        <input type="text" th:field="*{cv.middleName}" class="form-control" placeholder="Отчество">
                    </div>
                    <div class="col-md-2 mb-3 mx-auto">
                        <label>Пол</label>
                        <select class="form-control" id="gender" th:field="*{cv.gender}">
                            <option th:value="${T(com.cvdatabase.project.entities.Gender).M}" th:text="Мужской"></option>
                            <option th:value="${T(com.cvdatabase.project.entities.Gender).F}" th:text="Женский"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group mx-auto">
                    <div class="col-sm-5">
                        <label>Дата рождения</label>
                        <input type="text" th:field="*{cv.birthDate}" class="form-control" placeholder="в формате 'дд.мм.гггг'">
                    </div>
                </div>
                <div class="form-group mx-auto">
                    <div class="col-sm-5">
                        <input type="text" th:field="*{cv.mobilePhone}" class="form-control" placeholder="Мобильный телефон">
                    </div>
                </div>
                <div class="form-group mx-auto">
                    <div class="col-sm-5">
                        <input type="text" th:field="*{cv.email}" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="form-group mx-auto">
                    <div class="col-sm-5">
                        <input type="text" th:field="*{cv.gitHub}" class="form-control" placeholder="GitHub">
                    </div>
                </div>
                <div class="form-group mx-auto">
                    <div class="col-sm-5">
                        <input type="text" th:field="*{cv.skype}" class="form-control" placeholder="Skype">
                    </div>
                </div>
                <div class="form-group mx-auto">
                    <div class="col-sm-5">
                        <input type="text" th:field="*{cv.linkedIn}" class="form-control" placeholder="Linkedin">
                    </div>
                </div>
                <!--ul>
                    <li th:each="technology : ${technologies}">
                        <label th:for="${technology.name}" th:text="${technology.name}"> name</label>
                        <input type="checkbox" th:id="${technology.name}"
                               th:name="${technology.name}"/>
                    </li>
                </ul-->
            </form>
            <div class="form-inline justify-content-center">
                <div>
                    <button type="submit" class="btn btn-primary">
                        Сохранить изменения
                    </button>
                </div>
                <div class="ml-2">
                    <form th:action="@{'/cvs/delete/' + ${cv.id}}" th:method="delete">
                        <button class="btn btn-danger">
                            Удалить резюме
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>