<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Резюме менеджер</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../../../resources/static/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/static/css/core.css}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="form-row"><!-- это блок для строки поиска по сообщениям -->
    <div class="form-group col-md-6">
        <form method="get" action="/persons/first_name/{firstName}" class="form-inline">
            <input type="text" name="firstName" class="form-control" placeholder="Найти по имени">
            <button type="submit" class="btn btn-primary ml-2">
                Найти
            </button>
        </form>
    </div>
</div>
<div class="form-row"><!-- это блок для строки поиска по сообщениям -->
    <div class="form-group col-md-6">
        <form method="get" action="/persons/last_name/{lastName}" class="form-inline">
            <input type="text" name="lastName" class="form-control" placeholder="Найти по фамилии">
            <button type="submit" class="btn btn-primary ml-2">
                Найти
            </button>
        </form>
    </div>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="align-middle">ID</th>
            <th scope="col" class="align-middle">Имя</th>
            <th scope="col" class="align-middle">Фамилия</th>
            <th scope="col" class="align-middle">Отчество</th>
            <th scope="col" class="align-middle">Дата рождения</th>
            <th scope="col" class="align-middle">Пол</th>
            <th scope="col" class="align-middle">Мобильный телефон</th>
            <th scope="col" class="align-middle">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${personsList}">
            <td th:text="${person.id}">ID</td>
            <td th:text="${person.firstName}">Имя</td>
            <td th:text="${person.lastName}">Фамилия</td>
            <td th:text="${person.middleName}">Отчество</td>
            <td th:text="${person.birthDate}">Дата рождения</td>
            <td th:text="${person.gender}">Пол</td>
            <td th:text="${person.mobilePhone}">Мобильный телефон</td>
            <td th:text="${person.email}">Email</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>