<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/static/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
    <a class="navbar-brand">
        <img src="../img/cvmanager.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Резюме Менеджер
    </a>
    <link rel="stylesheet" href="/static/css/style.css" class="text-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная страница<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cvs">Список всех резюме</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/persons">Список всех кандидатов</a>
            </li>
        </ul>
        <!--form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form-->
    </div>
</nav>
</body>
</html>